body{
    width:100%;
    font-family: 'Courier New', Courier, monospace;
}

img{
    width:800px;
    height:600px;
    

}
.dogs{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    flex:1;

}
.bs{
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.b{
    
    background-color: black;
    color: white;
    padding:5px;
    border:none;
    
    margin:  5px 10px;

}
.b:hover{
    background-color: ivory;
    color:black
}
.b:active{
    background-color: ivory;
    color:black
}







